In [1]:
import pandas as pd
import numpy as np

'''
Up until now all of the examples we’ve looked at have had unique axis labels (index
values). While many pandas functions (like reindex ) require that the labels be
unique, it’s not mandatory. Let’s consider a small Series with duplicate indices
'''
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [5]:
obj.index.is_unique

False

In [6]:
obj['a']

a    0
a    1
dtype: int64

In [8]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>1.296360</td>
      <td>0.571449</td>
      <td>-0.644476</td>
    </tr>
    <tr>
      <th>a</th>
      <td>0.994073</td>
      <td>-0.218427</td>
      <td>1.257810</td>
    </tr>
    <tr>
      <th>b</th>
      <td>1.371197</td>
      <td>0.739380</td>
      <td>1.340044</td>
    </tr>
    <tr>
      <th>b</th>
      <td>-0.232368</td>
      <td>-1.218910</td>
      <td>0.486270</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
df.loc['b']

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>b</th>
      <td>1.371197</td>
      <td>0.73938</td>
      <td>1.340044</td>
    </tr>
    <tr>
      <th>b</th>
      <td>-0.232368</td>
      <td>-1.21891</td>
      <td>0.486270</td>
    </tr>
  </tbody>
</table>
</div>