In [2]:
'''
A Series is a one-dimensional array-like object containing a sequence of values (of
similar types to NumPy types) and an associated array of data labels, called its index. 
The simplest Series is formed from only an array of data.
Another way to think about a Series is as a fixed-length, ordered dict, as it is a mapâ€
ping of index values to data values.
'''

import pandas as pd

arr = pd.Series([1,2,3,4,5])
# print(arr.to_string(dtype=True,name=True))
arr.index

RangeIndex(start=0, stop=5, step=1)

In [23]:
arr2 = pd.Series([1,2,3,4],index=['a','b','c','d'])
# arr2.index
print(arr2['a'])
print(arr2[['a','b','c']])
print("\n")
print(arr2[arr2 > 2])
print("\n")
print(arr2 * 2)

print("\n")
print( 'g' in arr2)

1
a    1
b    2
c    3
dtype: int64


c    3
d    4
dtype: int64


a    2
b    4
c    6
d    8
dtype: int64


False

In [44]:
someDict = {'iran' : 10,'bushehr': 1,'shiraz':20,'tehran': 33}
arr3 = pd.Series(someDict)
arr3

iran       10
bushehr     1
shiraz     20
tehran     33
dtype: int64

In [46]:
names_order = ['iran','tabriz','shiraz','bushehr']
arr4 = pd.Series(someDict, names_order)

print(pd.notnull(arr4))
print("\n")
print(arr3 + arr4)

iran        True
tabriz     False
shiraz      True
bushehr     True
dtype: bool


bushehr     2.0
iran       20.0
shiraz     40.0
tabriz      NaN
tehran      NaN
dtype: float64

In [48]:
arr4.name = 'population'
arr4.index.name = 'states'
arr4

states
iran       10.0
tabriz      NaN
shiraz     20.0
bushehr     1.0
Name: population, dtype: float64

In [4]:
pd.date_range('1/1/2000', periods=20)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20'],
              dtype='datetime64[ns]', freq='D')

In [11]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data[string_data.isnull() == True]

2    NaN
dtype: object