In [26]:
import pandas as pd
import numpy as np

obj = pd.Series(np.arange(5),index=['a','b','c','d','e'])
obj
obj.drop('c')

a    0
b    1
d    3
e    4
dtype: int64

In [4]:
df = pd.DataFrame(np.arange(16).reshape((4,4)), index=['a','b','c','d']
                  , columns= ['shiraz','bushehr','tehran','tabriz'])
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>shiraz</th>
      <th>bushehr</th>
      <th>tehran</th>
      <th>tabriz</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>b</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>c</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>d</th>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
#Calling drop with a sequence of labels will drop values from the row labels (axis 0)
df.drop(['a','b'])

#You can drop values from the columns by passing axis=1 or axis='columns'

df.drop(['bushehr','tehran'] , axis=1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>shiraz</th>
      <th>tabriz</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>b</th>
      <td>4</td>
      <td>7</td>
    </tr>
    <tr>
      <th>c</th>
      <td>8</td>
      <td>11</td>
    </tr>
    <tr>
      <th>d</th>
      <td>12</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
# Manipulate an object in-place without returning a new object
obj.drop('c',inplace=True)
obj

a    0
b    1
d    3
e    4
dtype: int64