In [1]:
import pandas as pd
import numpy as np
from numpy import nan as NA

data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [2]:
# The -999 values might be sentinel values for missing data. To replace these with NA
# values that pandas understands, we can use replace , producing a new Series (unless
# you pass inplace=True )

data.replace(-999, NA)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [3]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [6]:
# To use a different replacement for each value, pass a list of substitutes:
data.replace([-999, -1000], [NA, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [7]:
# The argument passed can also be a dict:
data.replace({-999 : NA, -1000 : 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64